* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body {
  /*background:url(img/baby-goat-wallpaper.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  margin: 0 auto;
  width: 960px;
  height: 100% ;
  /*border: 2px solid blue;*/
}

img:hover {
  opacity: .4;
  color: white;

}

.goat-wrap {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-left: 19px;
  margin-top: 30px;
  color: white;
}

.goat-wrap img {
  position: absolute;
  display: inline;
  height: 100%;
  width: 100%;
  /*border-radius: 50%;*/
  border: 2px solid black;
  z-index: 1;
  /*opacity: .78;*/
  border-radius: 15px;
}

.goat-wrap:hover {
  color: black;
}

.infoDiv {
  margin-top: 198px;

}
.name {
  /*margin-top: 40px;*/
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 145px;
  z-index: 50;
}

.age, .location, .service-needed, .contact {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  /*white-space: nowrap;*/
}
