* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: 'Lora', serif;
}

html, body {
  font-family: 'Open Sans', sans-serif !important;
}


html, body, div.video-container, video {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-logo {
  position: absolute;
  top: 45%;
  text-align: center;
  z-index: -50;
  font-size: 3.5em;
  font-family: 'Lora', serif;
}

video{
  height: 100%;
  width: 100%;
  object-fit : cover;
}

.video-container {
  overflow: hidden;
  background: #000;
  display: block !important;
  position: relative;
  z-index: -100;
  margin-top: 63px;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.title-container {
  z-index: 10;
  color: #FFF;
  position: absolute;
}

.adjustedHeight {
  height: 100%;
  width: 100%;
  padding: 0;
}

main {
  margin: 0 auto;
  height: auto;
  /*width: 1140px;*/
  width: 60%;
  color: black;
  padding-bottom: 115px;
}

main p {
  width: 100%;
  line-height: 40px;
  color: black;
  font-size: 30px;
  margin-top: 100px;
}

.about-us {
  color: #333;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.mission-statement {
  margin-top: 115px;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 70px;
  color: #333;
}

.nav-bar {
  position: fixed;
  display: inline-block;
  width: 100%;
  min-height: 63px;
  background-color: #333333;
}

.nav-bar-info {
  min-width: 800px;
  min-height: 63px;
  margin: 0 auto;
  /*max-width: 1140px;*/
  max-width: 60%;
  z-index: 100;
}

.nav-navbar {
  display: inline-block;
  width: 500px;
  float: right;
}

.logo-div {
  width: auto;
  display: inline-block;
}

.logo-div img{
  display: inline-block;
  margin-top: 9px;
  max-height: 45px;
  max-width: 45px;
}

.logo-title {
  display: inline-flex;
  width: auto;
  position: absolute;
  margin-top: 19px;
  margin-left: 15px;
  font-size: 1.5em;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

ul {
  margin-top: 24px;
  text-align: right;
}

li {
  margin-left: 23px;
  list-style-type: none;
  display: inline-block;
  width: auto;
}

a:hover {
  color: #99948f;
}


.footer {
  max-height: 126px;
  /*min-height: 63px;*/
  background-color: #333;
}

.footer-logo {
  margin: 0 auto;
  margin-top: 10px;
  width: 35px;
  height: 35px;
}

.footer-logo {
  padding-top: 5px;
  margin-bottom: 7px;
}

.footer-info {
  text-align: center;
  font-size: .8em;
  padding-bottom: 7px;
}

.content {
  text-align: justify;
}
