* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

html, body {
  font-family: 'Open Sans', sans-serif !important;
}


html, body, div.video-container, video {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video{
  height: 100%;
  width: 100%;
  object-fit : cover;
}

.video-container {
  overflow: hidden;
  background: #000;
  display: block !important;
  position: relative;
  z-index: -100;
  margin-top: 63px;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.title-container {
  z-index: 10;
  color: #FFF;
  position: absolute;
}

.adjustedHeight {
  /*height: calc(100% - 77px);*/
  height: 100%;
  width: 100%;
  padding: 0;
}

main {
  /*position: absolute;*/
  margin: 0 auto;
  width: 1140px;
  color: black;
}

main p {
  color: black;
}

.nav-bar {
  position: fixed;
  display: inline-block;
  width: 100%;
  min-height: 63px;
  background-color: #333333;
}

.nav-bar-info {
  max-height: 63px;
  margin: 0 auto;
  max-width: 1140px;
  z-index: 100;
}

.nav-navbar {
  display: inline-block;
  width: 500px;
}

.logo-div {
  width: auto;
  display: inline-block;
}

.logo-div img{
  display: inline-block;
  margin-top: 5px;
  max-height: 55px;
  max-width: 55px;
}

li {
  margin-top: 23px;
  margin-left: 23px;
  list-style-type: none;
  display: inline-block;
  width: auto;
}
