* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  width: 100%;
  background-color: #B6D6D4;
}

#main {
  margin-bottom: 200px;
}

.main {
  margin: 0 auto;
  width: 60%;
  height: auto;
}

#selectform {
  float: left;
  padding: 20px;
  background-repeat: no-repeat;
  font-family: Tahoma, Geneva, sans-serif;
  background: linear-gradient(to top, #EDEDED, white);
}

form {
  position: relative;
}

input {
width:auto;
height: 40px;
padding: 5px;
  margin-top: 5px;
}

textarea {
  padding: 5px;
  margin-top: 5px;
}

label {
  padding-bottom: 20px;

}
button:active {
  transform: translate(1px, 1px);
}

button {
  width:auto;
  padding: 20px;
  box-shadow: inset 0 0 60px #000000;
  border: 1px inset #b37d00 ;
  border: 1px #333 ;
  text-decoration: none ;
  display: inline-block ;
  background-color: #333;
  color: White;
  font-size: 20px;
}


#resources-header {
  font-size: 80px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 19px;
}

#resources-header, .instructions-header {
  font-family: 'Lobster Two', cursive;
}

.resources-header {
  text-shadow: 2px 0 black;
  font-size: 80px;
  text-align: center;
  padding-top: 99px;
  padding-bottom: 19px;
}

.resource-description {
  text-align: center;
  color: #3D3C3A;
}

.rescues {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 55px;
}

.rescue-links {
  height:320px;
  width:315px;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #3D3C3A;
  border-radius: 17px;
  text-align:justify;
}

image {
  display: inline-block;
  margin: 0 auto;
}

a {
 text-decoration-line: none;
 text-decoration-color: #595755;
}

.instructions {
  float: right;
  width: 400px;
  margin-right: 20px;
  margin-top: 20px;
}

.instructions-div {
  background-color: #F1F1F0;
  margin-top: 20px;
  margin-bottom:20px;
  border-radius: 10px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.instructions-header {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}

iframe {
  width: 400px;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.instructions-ul {
  list-style-image: url("img/shadow-goat.png");
  font-size: 25px;
}

.instructions-li {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  display:block;
  text-align: left;
}

.resources-header, .instructions-header {
  font-family: 'Lobster Two', cursive;
  color: #3D3C3A;
}

.goat-banner-form {
  background-image: url("img/Funny-Goat-With-Glasses.jpg");
  background-size: 100% 100%;
  min-width: 600px;
  height: 424px;
  margin-top: 20px;
}

.goatButton {
  background-color: #333;
  color: White;
  position: absolute;
  font-size: 20px;
  width: 205px;
}

#goat-guardian {
 margin-top: 200px;
}

#goat-in-need {
  margin-top: 300px;
}

.third {
  /*border: 1px solid black;*/
  display: inline-block;
  width: calc(100% / 3 );
  padding: 5px;
  float: left;
}

.third input {
  width: 100%;
}

.half {
  display: inline-block;
  width: 50%;
  padding: 5px;
  float: left;
}

.half input {
  width: 100%;
}

.full {
  display: inline-block;
  width: 91%;
  padding: 5px;
  float: left;
}

.full textarea {
  height: 100px;
}

.submit-box {
  padding: 15px;
  float: left;
  width: auto;
  margin-top: 30px;
  height: 100px;
}

.fourth {
  display: inline-block;
  width: calc(100% / 4 );
  padding: 5px;
  float: left;
}

.fourth input {
  width: 100%;
}

.clear-float {
  clear: both;
}

#form-footer {
  max-height: 126px;
  background-color: #333;
  color: white;
}
.spacer {
  height: 20px;
  margin-bottom: 56px;
}

.form-info {
  text-align: center;
}

.infoDiv {
  overflow: auto;
}

img {

}
