* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  width: 960px;
  height: 1000px ;
  border: 2px solid blue;
  /*background-color: blue;*/
}

#guardians-list {

}
